.container {
  display: flex;
  margin-top: 20px;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}
.button {
  color: white;
  margin: 0 30px;
  cursor: pointer;
}

.disabledButton {
  color: white;
  cursor: auto;
  margin: 0 30px;
}
