.board {
  background: white;
  padding: 20px;
}

.body {
  background: #ad9d8f;
  width: max-content;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
}

.row {
  display: flex;
}

.block {
  height: 80px;
  width: 80px;
  background: lightgrey;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: 800px;
  color: white;
}
